PORT=5000
SUPABASE_URL=https://onjtziyonjgjptppoxza.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9uanR6aXlvbmpnanB0cHBveHphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAyNzIyOTMsImV4cCI6MjA4NTg0ODI5M30.fqnlEZXoVcftHX-lCNF4dnF_-_kxEmbQUSle8GvGwPI
